<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<span type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
				لیست تعرفه‌های خدمات دریایی و بندری
			</div>
			<div class="modal-body">
				<div class="row gy-4">
					@if (User.IsInRole("admin") || User.IsInRole("adminOnePort"))
					{
						<div class="col-md-3">
							<a href="~/CargoHandlingTariff/List" class="btn btn-success-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3 text-center">
								<i class="fas fa-clock me-2"></i> سرفصل کالا 
							</a>
						</div>
					}

					<div class="col-md-3">
						<a href="~/SpecialGearTariffRule/List" class="btn btn-success-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3 text-center">
							<i class="fa-solid fa-cube me-2"></i>			تعرفه اجاره تجهیزات ویژه
						</a>
					</div>
					
					
					<div class="col-md-3">
						<a href="~/GeneralCargoProduct/List" class="btn btn-success-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3 text-center">
							<i class="fas fa-truck me-2"></i>			تعرفه باربری غیرکانتینری
						</a>
					</div>

					<div class="col-md-3">
						<a href="~/KhankaryNonContainerProduct/List" class="btn btn-success-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3 text-center">
							<i class="fas fa-truck me-2"></i>			تعرفه خن کاری غیرکانتینری
						</a>
					</div>

					<div class="col-md-3">
						<a href="~/NonContainerWarehouseProduct/List" class="btn btn-success-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3 text-center">
							<i class="fas fa-warehouse me-2"></i>			انبارداری کالاهای غیرکانتینری
						</a>
					</div>
					<div class="col-md-3">
						<a href="~/ContainerFreightProduct/List" class="btn btn-success-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3 text-center">
							<i class="fas fa-truck me-2"></i>			تعرفه باربری کانتینر
						</a>
					</div>
					<div class="col-md-3">
						<a href="~/ContainerWarehouseProduct/List" class="btn btn-success-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3 text-center">
							<i class="fas fa-warehouse me-2"></i>			انبارداری کالاهای کانتینری
						</a>
					</div>
					<div class="col-md-3">
						<a href="~/ContainerStripProduct/List" class="btn btn-success-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3 text-center">
							<i class="fas fa-undo me-2"></i>			تعرفه استریپ کانتینر
						</a>
					</div>

					<div class="col-md-3">
						<a href="~/PortDuty/List" class="btn btn-success-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3 text-center">
							<i class="fas fa-undo me-2"></i>			 تعرفه عوارض بندری
						</a>
					</div>

					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100  h-100 align-content-around  p-3">
							<i class="fas fa-file-alt me-2"></i>			خدمات اسنادی و نظارت
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3">
							<i class="fas fa-exchange-alt me-2"></i>			معاوضه کالا (SWAP)
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100  h-100 align-content-around  p-3">
							<i class="fas fa-dolly me-2"></i>			انتقال کانتینر (Move)
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3">
							<i class="fas fa-box-open me-2"></i>			انبارداری کانتینرهای غیرکامل
						</a>
					</div>

					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3">
							<i class="fas fa-ship me-2"></i>			خروج/ورود کانتینر به بندر
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100  h-100 align-content-around  p-3">
							<i class="fas fa-tools me-2"></i>			خدمات جانبی کانتینری
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3">
							<i class="fas fa-anchor me-2"></i>		کابوتاژ
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100 align-content-around   p-3">
							<i class="fas fa-globe-asia me-2"></i>		صادرات در بنادر جابهار
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100  h-100 align-content-around  p-3">
							<i class="fas fa-flag-checkered me-2"></i>		صادرات در مناطق آزاد
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100  p-3">
							<i class="fas fa-shipping-fast me-2"></i>			انتقال کالا از مخزن به اسکله و تخلیه
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100  p-3">
							<i class="fas fa-radiation me-2"></i>			انبارداری کانتینرهای حاوی کالای خطرناک
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100  p-3">
							<i class="fas fa-boxes me-2"></i>			خدمات کانتینری (جابجایی، درب انبار، جعبه استوک)
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100  p-3">
							<i class="fas fa-hard-hat me-2"></i>			عملیات مخصوص کانتینرهای اختصاصی
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100  p-3">
							<i class="fas fa-pallet me-2"></i>			انبارداری کانتینرهای استریپ‌شده
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100  p-3">
							<i class="fas fa-snowflak me-2"></i>			خدمات کانتینرهای یخچالی (Reefer)
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100  p-3">
							<i class="fas fa-route me-2"></i>			ترانشیپ داخلی و خارجی کانتینر
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100  p-3">
							<i class="fas fa-vial me-2"></i>		خدمات قرنطینه گیاهی، دامی، بهداشتی
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-secondary-a rounded-5 fs-6 w-100 h-100  p-3">
							<i class="fas fa-anchor me-2"></i>		خدمات لنگرگاه (لنگر انداختن)
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

