@{
    ViewData["Title"] = "صفحه مورد نظر یافت نشد";
}

<div class="container py-5 text-center">
    <h1 class="display-4">۴۰۴ </h1>
    <p class="lead">صفحه‌ای که به‌دنبال آن هستید ممکن است حذف شده باشد، نام آن تغییر کرده باشد یا به‌طور موقت در دسترس نباشد.</p>
    <a class="btn btn-primary mt-3" href="/">بازگشت به صفحه اصلی</a>
</div>

