@model CreateAreaCategoryDto

<form asp-action="CreateAreaCategory" method="post">
    <input asp-for="Id" type="hidden" />
    <div class="form-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group m-l-60 ">
                    <label>نام دسته بندی</label>
                    <div class="input-group">
                        <input type="text" asp-for="Name" class="form-control rounded">
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>توضیحات</label>
                    <div class="input-group">
                        <input type="tel" asp-for="Description" class="form-control rounded">
                        <span asp-validation-for="Description"></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mt-4">
            <div>
                <div class="input-group">
                    <label>
                        <input asp-for="IsActive" class="form-check-input">
                        فعال/غیرفعال
                    </label>
                </div>
            </div>
        </div>

        <div class="modal-footer px-0 border-0">
            <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            <button type="submit" class="btn btn-success btn-round">ذخیره</button>
        </div>
    </div>

</form>

  <script src="~/assets/js/validation/jquery.validate.min.js"></script>
 <script src="~/assets/js/validation/jquery.validate.unobtrusive.min.js"></script>