@model CreateWroTruckPageDto


<div class="col-lg-12">


	<form onsubmit="return submitTruckForm(this);" enctype="multipart/form-data">
			<input type="hidden" asp-for="CreateDto.Id" />
			<input type="hidden" asp-for="CreateDto.SeoWarehouseReceiptOutboundId" />
			<div class="card-body">
				<div class="form-body">
					<div class="row gy-4">
						<!-- First Row -->
						<div class="col-md-12">
							<div class="form-group">
								<label>مجوز پایانه</label>
								<div class="input-group d-flex flex-nowrap">
									<select class="form-control rounded select2 generalmodal" asp-for="CreateDto.DocumentId"
											asp-items="Model.MojavesPayanes">
										<option value="">در صورت داشتن مجوز پایانه، مجوز را انتخاب کنید</option>
									</select>
								</div>
								<span asp-validation-for="CreateDto.DocumentId" class="text-danger"></span>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>نوع پلاک</label>
								<div class="input-group">
									<select class="form-control select2 generalmodal" asp-for="CreateDto.CarPlatesType">
										<option value="1">پلاک ملی</option>
										<option value="2">پلاک بندری</option>
									</select>
									<span asp-validation-for="CreateDto.CarPlatesType" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div id="CarPlatesTypeMeli" class="@(Model.CreateDto.CarPlatesType == CarPlatesType.Number ? "d-none" : "") form-group col-md-8 justify-content-between d-flex  ">
							<div class="col-md-2">
								<label>ایران</label>
								<div class="input-group ">
									<input asp-for="CreateDto.CarPlatesAreaCode" type="text" class="form-control m-l-10">
									<span asp-validation-for="CreateDto.CarPlatesAreaCode" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-2">
								<label>عدد 3 رقمی</label>
								<div class="input-group ">
									<input asp-for="CreateDto.CarPlatesRight" type="text" class="form-control m-l-10">
									<span asp-validation-for="CreateDto.CarPlatesRight" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group ">
									<label>حرف</label>
									<div class="input-group">
										<select class="form-control select2" asp-for="CreateDto.CarPlatesMiddle">
											<option value="ع">ع</option>
											<option value="ک">ک</option>
											<option value="الف">الف</option>
											<option value="ب">ب</option>
											<option value="ت">ت</option>
											<option value="ج">ج</option>
											<option value="د">د</option>
											<option value="س">س</option>
											<option value="ص">ص</option>
											<option value="ط">ط</option>
											<option value="ق">ق</option>
											<option value="ل">ل</option>
											<option value="م">م</option>
											<option value="ن">ن</option>
											<option value="و">و</option>
											<option value="ه">ه</option>
											<option value="ی">ی</option>
											<option value="پ">پ</option>
											<option value="گ">گ</option>
											<option value="ف">ف</option>
											<option value="ش">ش</option>
											<option value="ث">ث</option>
											<option value="ز">ز</option>
										</select>
										<span asp-validation-for="CreateDto.CarPlatesMiddle" class="text-danger"></span>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<label>عدد 2 رقمی</label>
								<div class="input-group ">
									<input type="text" asp-for="CreateDto.CarPlatesLeft" class="form-control">
									<span asp-validation-for="CreateDto.CarPlatesLeft" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div id="CarPlatesTypeBandari" class="col-md-4 @(Model.CreateDto.CarPlatesType != CarPlatesType.Number  ? "d-none" : ""  ) ">
							<div class="form-group m-l-60 ">
								<label>پلاک بندری</label>
								<div class="input-group">
									<input type="text" asp-for="CreateDto.CarPlates" class="form-control">
									<span asp-validation-for="CreateDto.CarPlates" class="text-danger"></span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			 
		</form>
		 
</div>

<script src="~/assets/js/validation/jquery.validate.min.js"></script>
<script src="~/assets/js/validation/jquery.validate.unobtrusive.min.js"></script>

<script>


	$(document).ready(function () {
		$('select[class*="generalmodal"].select2').select2({
			dropdownParent: $('#generalmodal')
		});


		$("#CreateDto_CarPlatesType").change(function () {
			var selectedValue = $(this).val();

			if (selectedValue === "1") {
				$("#CarPlatesTypeMeli").removeClass("d-none");
				$("#CarPlatesTypeBandari").addClass("d-none");
			} else {
				$("#CarPlatesTypeMeli").addClass("d-none");
				$("#CarPlatesTypeBandari").removeClass("d-none");
			}
		});

	});
</script>