@model ResetPasswordDto

<form asp-action="ResetPassword" enctype="multipart/form-data" method="post" id="ResetPasswordFormId">
    <input asp-for="IdUserForResrtPass" type="hidden" />
    <div class="card-body pt-0">

        <div class="form-body">
            <div class="col-sd-12 ">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>رمز جدید</label>
                            <div class="input-group" >
                                <input type="password" class="form-control rounded" asp-for="NewPass">
                                <span asp-validation-for="NewPass" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>تکرار رمز جدید</label>
                            <div class="input-group">
                                <input  type="password" class="form-control rounded" asp-for="NewPassRe" required>
                                <span asp-validation-for="NewPassRe" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>




            <div class="modal-footer px-0 border-0">
                <button type="submit" class="btn btn-success btn-round">ذخیره</button>
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>

    </div>

</form>


  <script src="~/assets/js/validation/jquery.validate.min.js"></script>
 <script src="~/assets/js/validation/jquery.validate.unobtrusive.min.js"></script>



<script>
    $(document).ready(function () {



    });
</script>