@model CreateContainerStripProductDto

<form asp-action="Create" method="post">
    <input asp-for="Id" type="hidden" />
    <div class="card-body pt-0">
        <div class="row">
            <div class="col-md-12">
                <div class="form-body">
                    <div class="row gy-4">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>عنوان محصول</label>
                                <div class="input-group">
                                    <input type="text" class="form-control rounded" asp-for="Title">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>نوع محصول</label>
                                <div class="input-group">
                                    <select class="form-control select2 generalmodal" asp-for="ContainerFreightType"
                                            asp-items="Html.GetEnumSelectList<ContainerFreightType>()">
                                        <option value="">انتخاب کنید</option>
                                    </select>
                                    <span asp-validation-for="ContainerFreightType" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                         

                    </div>

                    <div class="modal-footer border-0 px-0 mt-4">
                        <button type="submit" class="btn btn-success btn-round">ذخیره</button>
                        <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

 
