@model SeoStopServiceTypeDto

<form asp-action="CreateSeoStopServiceType" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="IsActive" />
    <div class="form-body">
        <div class="row gy-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label>عنوان</label>
                    <div class="input-group">
                        <input type="text" asp-for="Name" class="form-control rounded">
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions p-4 pb-2" style="float: left;">
        <button type="submit" class="btn btn-info btn-round">
            <i class="icon-check"></i>
            ذخیره
            <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
        </button>
    </div>
</form>

<script src="~/assets/js/validation/jquery.validate.min.js"></script>
<script src="~/assets/js/validation/jquery.validate.unobtrusive.min.js"></script>
